/** Instance by DrewIt */
@keyframes slide-from-bottom {
    from {
        transform: translateY(100px);
        opacity: 0;
    } to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-from-top {
    from {
        transform: translateY(-100px);
        opacity: 0;
    } to {
        transform: translateY(0);
        opacity: 1;
    }
}