/** Instance by DrewIt */
.size\[10px\] {
    font-size: 10px;
}
.size\[14px\] {
    font-size: 14px;
}
.size\[16px\] {
    font-size: 16px;
}
.size\[18px\] {
    font-size: 18px;
}
.size\[20px\] {
    font-size: 20px;
}
.size\[22px\] {
    font-size: 22px;
}
.size\[24px\] {
    font-size: 24px;
}
.size\[26px\] {
    font-size: 26px;
}
.size\[30px\] {
    font-size: 30px;
}
.mb-10px {
    margin-bottom: 10px;
}
.mb-15px {
    margin-bottom: 15px;
}
.mb-20px {
    margin-bottom: 20px;
}
.mb-25px {
    margin-bottom: 25px;
}
.mb-30px {
    margin-bottom: 30px;
}
.mb-35px {
    margin-bottom: 35px;
}